<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885163461568-gr11cgnj93cekoppqr9gq1b66dpj4mm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885163461568-gr11cgnj93cekoppqr9gq1b66dpj4mm0</string>
	<key>API_KEY</key>
	<string>AIzaSyAqEz5yCGyJEYI_4t7Kt3qBllIJfknhKzE</string>
	<key>GCM_SENDER_ID</key>
	<string>885163461568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amsoft71.socialaudioguide</string>
	<key>PROJECT_ID</key>
	<string>socialaudioguide</string>
	<key>STORAGE_BUCKET</key>
	<string>socialaudioguide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885163461568:ios:c531cc8a9d83a8c65a5625</string>
</dict>
</plist>